@use "sass:map";
@use "sass:color";
@use "../../styles/config/settings/spacing" as *;
@use "../../styles/config/settings/color" as *;
@use "../../styles/config/settings/typography" as *;
@use "../../styles/config/tools/flex" as *;
@use "../../styles/config/tools/border" as *;
@use "../../styles/config/tools/position" as *;

$largePaddingX: map.get($spacing, "sm") + 4;
$largePaddingY: map.get($spacing, "lg") + 4;

.container {
  @include Flex_col-start;

  &_inner {
    position: relative;
  }

  &_input {
    @include Flex_row-center;
    padding: map.get($spacing, "xs") map.get($spacing, "md");
    padding-left: map.get($spacing, "2xl") !important;
    background-color: $accent;
    @include Border;
    font-family: map.get($font-family, "sans");
    font-weight: map.get($font-weight, "medium");
    font-size: map.get($font-size, "xs");
    border-radius: map.get($spacing, "lg");

    &:active, &:focus, &:focus-visible {
      outline: 1px solid rgba($border, 0.5);
      outline-offset: 2px;
    }

    &__icon {
      @include Absolute_y;
      left: 1rem;
      width: map.get($spacing, "md");
      height: map.get($spacing, "md");
      stroke: $text-muted;
    }

    &__normal {
      padding: map.get($spacing, "xs") map.get($spacing, "md");
    }

    &__large {
      padding: $largePaddingX $largePaddingY
    }
  }
}