@use "sass:map";
@use "../../styles/config/settings/spacing" as *;
@use "../../styles/config/settings/color" as *;
@use "../../styles/config/settings/typography" as *;
@use "../../styles/config/tools/flex" as *;
@use "../../styles/config/tools/border" as *;

$iconSize: map.get($spacing, "md");

.container {
  @include Flex_row-center;
  align-items: center;
  padding: map.get($spacing, "2xs") map.get($spacing, "xs");
  background-color: $accent;
  border-radius: map.get($spacing, "lg");
  gap: map.get($spacing, "xs");

  & > span {
    font-family: map.get($font-family, "sans");
    font-weight: map.get($font-weight, "medium");
    font-size: map.get($font-size, "2xs");
  }

  & > svg {
    width: $iconSize;
    height: $iconSize;
  }

  &_primary {
    background-color: $primary;
    color: $background;

    &:hover {
      background-color: $primary-hover;
    }

    &:active {
      background-color: $primary-active;
    }
  }

  &_secondary {
    background-color: $secondary;
    color: $background;

    &:hover {
      background-color: $secondary-hover;
    }

    &:active {
      background-color: $secondary-active;
    }
  }

  &_tertiary {
    background-color: $tertiary;
    color: $background;

    &:hover {
      background-color: $tertiary-hover;
    }

    &:active {
      background-color: $tertiary-active;
    }
  }

  &_link {
    background-color: transparent;
    border-color: transparent;

    &:hover {
      background-color: transparent;
      text-underline-offset: map.get($spacing, "2xs");
      border-color: $border;
    }

    &:active {
      background-color: transparent;
    }
  }

  &_outline {
    background-color: transparent;
    color: $text-body;

    &:hover {
      background-color: $primary-hover;
      color: $background;
    }

    &:active {
      background-color: $primary-active;
    }
  }

  &_blur {
    background-color: transparent;
    color: $background;
    backdrop-filter: blur(map.get($spacing, "2xs"));
    @include Border;
    border-color: rgba($border, 0.2);
  }
}