@use "sass:map";
@use "../../styles/config/settings/spacing" as *;
@use "../../styles/config/settings/color" as *;
@use "../../styles/config/settings/typography" as *;
@use "../../styles/config/tools/flex" as *;
@use "../../styles/config/tools/border" as *;

$iconSize: map.get($spacing, "md"); // Base icon size
$badgeSize: map.get($spacing, "2xs"); // Base padding

.mod {
  @include Flex_row-center;
  align-items: center;
  padding: $badgeSize $badgeSize * 2;
  background-color: $accent;
  border-radius: map.get($spacing, "lg");
  gap: map.get($spacing, "xs");
  @include Border;

  // Handles the label in the badge
  & > span {
    font-family: map.get($font-family, "sans");
    font-weight: map.get($font-weight, "medium");
    font-size: map.get($font-size, "2xs");
  }

  // Handles the icon sizing
  &_icon > svg {
    width: $iconSize;
    height: $iconSize;
  }


  /**
   * @mixin badgeVariant
   *
   * Applies essential styling for badge variants, including background color, text color,
   * optional border color, and an optional backdrop filter (e.g., blur effect).
   * This mixin is designed for non-interactive badge elements without hover or active states.
   *
   * Parameters:
   * @param {String | Null} $backdrop-filter - Optional blur amount for backdrop-filter (e.g. "4px").
   * @param {Color | Null} $border-color - Optional border color.
   * @param {Color} $bg-color - Background color.
   * @param {Color} $text-color - Text color.
   *
   * Usage example:
   * &_primary {
   *   @include badgeVariant(
   *     null,        // background-filter
   *     null,        // No border color
   *     $primary,    // Background color (primary brand color)
   *     $background  // Text color (usually white)
   *   );
   * }
   */
  @mixin badgeVariant($backdrop-filter: null, $border-color: null, $bg-color, $text-color) {
    background-color: $bg-color;
    color: $text-color;
    border-color: $border-color;

    @if $backdrop-filter {
      backdrop-filter: blur($backdrop-filter);
    }
  }

  // Primary: Used for main badges representing primary brand actions or statuses.
  &_primary {
    @include badgeVariant(
                    null, // background-filter
                    null, // border-color
                    $primary, // background-color
                    $background, // color
    );
  }

  // Secondary: Used for secondary or less prominent badges.
  &_secondary {
    @include badgeVariant(
                    null, // background-filter
                    null, // border-color
                    $secondary, // background-color
                    $background, // color
    );
  }

  // Tertiary: Used for informational or tertiary badges.
  &_tertiary {
    @include badgeVariant(
                    null, // background-filter
                    null, // border-color
                    $tertiary, // background-color
                    $background, // color
    );
  }

  // Outline: Used for badges with no background fill but visible border.
  &_outline {
    @include badgeVariant(
                    null, // background-filter
                    $border, // border-color
                    transparent, // background-color
                    $text-body, // color
    );
  }

  // Blur: Used for badges with translucent blur effect and subtle border.
  &_blur {
    @include badgeVariant(
                    map.get($spacing, "xs"), // background-filter
                    rgba($border, 0.2), // border-color
                    transparent, // background-color
                    $text-body, // color
    );
  }

  // Accent: Used for badges highlighting accentuated or alerting information.
  &_accent {
    @include badgeVariant(
                    null, // background-filter
                    $border, // border-color
                    $accent, // background-color
                    $text-body, // color
    );
  }
}