@use "sass:map";
@use "../../styles/config/settings/spacing" as *;
@use "../../styles/config/settings/color" as *;
@use "../../styles/config/settings/typography" as *;
@use "../../styles/config/tools/flex" as *;
@use "../../styles/config/tools/border" as *;

.container {
  @include Flex_row-center;
  padding: map.get($spacing, "xs") map.get($spacing, "md");
  background-color: $accent;
  @include Border;
  font-family: map.get($font-family, "sans");
  font-weight: map.get($font-weight, "medium");
  font-size: map.get($font-size, "xs");
  text-transform: capitalize;
  border-radius: map.get($spacing, "lg");
  cursor: pointer;

  &_primary {
    background-color: $primary;
    color: $background;

    &:hover {
      background-color: $primary-hover;
    }

    &:active {
      background-color: $primary-active;
    }
  }

  &_secondary {
    background-color: $secondary;
    color: $background;

    &:hover {
      background-color: $secondary-hover;
    }

    &:active {
      background-color: $secondary-active;
    }
  }

  &_link {
    background-color: transparent;
    border: none;

    &:hover {
      background-color: transparent;
      text-decoration: underline;
      text-underline-offset: map.get($spacing, "2xs");
    }

    &:active {
      background-color: $accent-active;
    }
  }

  &_outline {
    background-color: transparent;
    color: $text-body;

    &:hover {
      background-color: $primary-hover;
      color: $background;
    }

    &:active {
      background-color: $primary-active;
    }
  }
}

.hasBackground {
  color: $background !important;
}