@use "sass:map";
@use "../../styles/config/settings/spacing" as *;
@use "../../styles/config/settings/color" as *;
@use "../../styles/config/settings/typography" as *;
@use "../../styles/config/tools/flex" as *;
@use "../../styles/config/tools/border" as *;

// Enforces high-contrast text and border color for readability
.hasBackground {
  color: $background !important;

  &:hover {
    border-color: $background !important;
  }

  &:active {
    background-color: transparent !important;
    color: $background;
  }
}

// Enforces a rounded style for buttons that need a border-radius
.isRounded {
  border-radius: map.get($spacing, "lg") !important;
}

// Enforces a full width button for mobile experience and modals
.isFullWidth {
  width: 100%;
}