@use "sass:map";
@use "../../styles/config/settings/spacing" as *;
@use "../../styles/config/settings/color" as *;
@use "../../styles/config/settings/typography" as *;
@use "../../styles/config/tools/flex" as *;
@use "../../styles/config/tools/grid" as *;
@use "../../styles/config/tools/border" as *;

.box {
  @include Flex_row__center;

  & > h2 {
    font-family: map.get($font-family, "heading");
    font-weight: map.get($font-weight, "light");
    font-size: map.get($font-size, "2xl");
    text-transform: capitalize;
  }
}