@use "sass:map";
@use "../../styles/config/settings/spacing" as *;
@use "../../styles/config/settings/color" as *;
@use "../../styles/config/settings/typography" as *;
@use "../../styles/config/tools/flex" as *;
@use "../../styles/config/tools/grid" as *;
@use "../../styles/config/tools/border" as *;
@use "../../styles/config/tools/mediaQuery" as *;

.box {
  @include Flex_col-center;
  align-items: center;

  @include media(isOnMobile) {
    @include Flex_col-start;
    align-items: start;
  }

  gap: map.get($spacing, "sm");

  & > h3 {
    font-family: map.get($font-family, "heading");
    font-weight: map.get($font-weight, "bold");
    font-size: map.get($font-size, "lg");
    text-transform: capitalize;
    text-align: center;

    @include media(isOnMobile) {
      text-align: left;
    }
  }

  & > p {
    font-family: map.get($font-family, "sans");
    font-weight: map.get($font-weight, "normal");
    font-size: map.get($font-size, "xs");
    color: $text-muted;
    text-align: center;

    @include media(isOnMobile) {
      text-align: left;
    }
  }
}