@use "sass:map";
@use "../../styles/config/settings/spacing" as *;
@use "../../styles/config/settings/color" as *;
@use "../../styles/config/settings/typography" as *;
@use "../../styles/config/tools/flex" as *;
@use "../../styles/config/tools/grid" as *;
@use "../../styles/config/tools/border" as *;

.box {
  @include Flex_col__center;
  align-items: center;
  width: $width;
  margin: auto;
  margin-top: 5vh !important;
  padding: map.get($spacing, "3xl") !important;
  gap: map.get($spacing, "2xl");
  background-color: $accent;
}