@use "sass:map";
@use "../../styles/config/settings/spacing" as *;
@use "../../styles/config/settings/color" as *;
@use "../../styles/config/settings/typography" as *;
@use "../../styles/config/tools/flex" as *;
@use "../../styles/config/tools/grid" as *;
@use "../../styles/config/tools/border" as *;

.box {

  & > img {
    object-fit: cover;
    width: 100%;
    height: map.get($spacing, "4xl") * 1.5;
  }

  grid-column: span 1 / span 1;
}