@use "sass:map";
@use "../../styles/config/settings/spacing" as *;
@use "../../styles/config/settings/color" as *;
@use "../../styles/config/settings/typography" as *;
@use "../../styles/config/tools/flex" as *;
@use "../../styles/config/tools/border" as *;
@use "../../styles/config/tools/position" as *;

$ctaHeight: 75vh;
$ctaWidth: 100vw;
$imgHeight: 100%;
$imgWidth: 100%;
$overlayBg: #00000050;

.container {
  height: $ctaHeight;
  @include Flex_col-between;

  &_content {
    position: relative;
    z-index: 10;
    @include Flex_col-center;
    align-items: center;
    height: 100%;
    gap: map.get($spacing, "lg");

    & > h1 {
      font-family: map.get($font-family, "heading");
      color: $background;
      font-weight: map.get($font-weight, "light");
      font-size: map.get($font-size, "4xl");
    }

    & > span {
      font-family: map.get($font-family, "sans");
      color: $background;
      font-weight: map.get($font-weight, "medium");
      font-size: map.get($font-size, "2xs");
      text-transform: uppercase;
    }
  }

  &_background {
    height: $ctaHeight;
    width: $ctaWidth;
    @include Absolute_x;
    z-index: 0;

    & > img {
      height: $imgHeight;
      width: $imgWidth;
      object-fit: cover;
    }

    &__overlay {
      height: $imgHeight;
      width: $imgWidth;
      @include Absolute_center;
      background-color: $overlayBg;
    }
  }
}