@use "sass:map";
@use "sass:color";
@use "../../styles/config/settings/spacing" as *;
@use "../../styles/config/settings/color" as *;
@use "../../styles/config/settings/typography" as *;
@use "../../styles/config/tools/flex" as *;
@use "../../styles/config/tools/border" as *;
@use "../../styles/config/tools/position" as *;

$wrapperHeight: 65vh;
$wrapperWidth: 100vw;
$imageHeight: 100%;
$imageWidth: 100%;
$overlay: #00000070;
$textShadow: 0 0 10px rgba(0, 0, 0, .65); // Defines the text shadow to improve readability and contrast

.box {
  @include Flex_col-start;

  &_wrapper {
    height: $wrapperHeight;
    @include Flex_col-between;

    &__content {
      position: relative;
      z-index: 10;
      @include Flex_col-start;
      align-items: center;
      height: 65%;
    }
  }
}