@use "sass:map";
@use "sass:color";
@use "../../styles/config/settings/spacing" as *;
@use "../../styles/config/settings/color" as *;
@use "../../styles/config/tools/flex" as *;
@use "../../styles/config/tools/border" as *;

.box {
  padding: map.get($spacing, "md") map.get($spacing, "4xl");
  border-color: rgba($border, 0.2);
  @include Flex_row__between;
  z-index: 10;
  backdrop-filter: blur(5px);

  &_left {
    @include Flex_row__start;
    width: 100%;
  }

  &_center {
    @include Flex_row__center;
    width: 100%;
    gap: map.get($spacing, "xs");
  }

  &_right {
    @include Flex_row__end;
    width: 100%;
    gap: map.get($spacing, "xs");
  }
}