@use "sass:map";
@use "sass:color";
@use "../../styles/config/settings/spacing" as *;
@use "../../styles/config/settings/color" as *;
@use "../../styles/config/settings/typography" as *;
@use "../../styles/config/tools/flex" as *;
@use "../../styles/config/tools/border" as *;
@use "../../styles/config/tools/position" as *;

.box {
  margin-top: map.get($spacing, "md");
  @include Flex_row-center;
  border-radius: map.get($spacing, "lg");
  background-color: $accent;
  padding: map.get($spacing, "sm") map.get($spacing, "sm") * 6;
  gap: map.get($spacing, "sm");
  outline: 1px solid rgba($border, 0.5);
  outline-offset: 2px;

  &_icon > svg {
    width: map.get($font-size, "sm");
    height: map.get($font-size, "sm");
    stroke: $text-body;
    position: relative;
    top: 1px;
  }

  & > span {
    font-family: map.get($font-family, "sans");
    font-weight: map.get($font-weight, "normal");
    font-size: map.get($font-size, "sm");
    color: $text-body;
  }
}