@use "sass:map";
@use "../../styles/config/settings/spacing" as *;
@use "../../styles/config/settings/color" as *;
@use "../../styles/config/settings/typography" as *;
@use "../../styles/config/tools/flex" as *;
@use "../../styles/config/tools/grid" as *;
@use "../../styles/config/tools/border" as *;

.container {
  @include Flex_col-start;
  overflow: hidden;

  &:hover {
    text-decoration: underline;
    cursor: pointer;

    & > img {
opacity: 0.9;
    }
  }

  & > img {
    object-fit: cover;
    width: 100%;
    height: map.get($spacing, "4xl") * 4;
    margin-bottom: map.get($spacing, "sm");
  }

  & > h4 {
    font-family: map.get($font-family, "sans");
    font-weight: map.get($font-weight, "light");
    font-size: map.get($font-size, "xs");
  }
  & > h3 {
    font-family: map.get($font-family, "sans");
    font-weight: map.get($font-weight, "light");
    font-size: map.get($font-size, "xs");
    color: $text-muted;
  }
}