@use "sass:map";
@use "sass:color";
@use "../../styles/config/settings/spacing" as *;
@use "../../styles/config/settings/typography" as *;
@use "../../styles/config/settings/color" as *;
@use "../../styles/config/tools/flex" as *;
@use "../../styles/config/tools/grid" as *;
@use "../../styles/config/tools/border" as *;
@use "../../styles/config/tools/position" as *;

.lyt {
  @include Flex_col-start;
  gap: map.get($spacing, "xs");

  & > h4 {
    font-family: map.get($font-family, "sans");
    color: $text-body;
    font-weight: map.get($font-weight, "medium");
    font-size: map.get($font-size, "md");
    margin-bottom: map.get($spacing, "xs");
  }
}